
.color-detail {
}

.color-detail-row {
  display: flex;
  flex-direction: row;
}

  .color-detail-row > * {
    flex: 1;
  }

  .color-detail-row > *:not(:last-child) {
    margin-right: 10px;
  }

  .color-detail-alpha,
  .color-detail-hue,
  .color-detail-saturation,
  .color-detail-value {
    width: 60px;
    flex: none;
  }

  .lockHueCheckbox {
    margin: 0 !important;
  }
