

.color-picker {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.color-picker-square {
  width: 100%;
  height: 360px;
  border: 1px solid var( --border-grey );
  border-bottom: none;
  position: relative;
}

  .color-picker-brightness {
    position: absolute; inset: 0;
    background: linear-gradient(
      180deg, 
      rgba(0, 0, 0, 0) 0%, 
      #000000 100%
    );
  }


.color-picker-hue-selector {
  align-self: stretch;
  width: 20px;
  border: 1px solid var( --border-grey );
  border-top: none;
  margin-left: 4px;
  position: relative;
}

  /* HUE THUMB */
  .color-picker-hue-thumb {
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid var( --border-grey );
    background-color: #bbb;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

    .color-picker-hue-thumb:hover {
      cursor: pointer;
    }

    .color-picker-hue-thumb-inner {
      position: absolute; inset: 3px;
      border-radius: 20px;
    }