


.icon-preview-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex: 1;
}

  .icon-preview {
    border: 1px solid var( --border-grey );
    width: 320px; height: 320px;
    margin-right: 10px;
    flex: 1;
  }

    .icon-preview svg {
      width: 100%;
      height: 100%;
    }

.icon-editors {
  display: flex;
  flex-direction: column;
  width: 70px;
}

  .icon-editors > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .name-input {
    margin-bottom: 0;
    margin-bottom: 10px;
  }