




  .help-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var( --primary );
    font-family: var( --primary-ui-font );
    font-size: 12px;
    font-weight: 500;
  }
  .help-link.invert {
    color: var( --white );
  }

    .help-link .icon {
      width: 14px;
      margin-right: 6px;
    }