

.comp-input {
  display: flex;
  flex-direction: column;
}

  .comp-label {
    font-size: 11px;
    color: white;
  }

  input {
    padding: 8px;
    margin-top: 3px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid var( --figma-color-border );
    appearance: none;
    height: 34px;
  }