

.inputComp {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  font-family: var( --primary-ui-font );
  color: var( --text-color );
  font-weight: 300;
}

  .inputComp.hide-border .inputComp-input {
    border: none;
  }

  .inputComp-label {
    font-size: 11px;
    color: var( --text-color-lighter );
    margin-bottom: 3px;
  }

  .inputComp-input-box {
    position: relative;
  }

    .inputComp-readonly {
      width: 100%;
      font-size: 16px;
      padding: 4px 0;
      line-height: 22px;
    }

    .inputComp-input {
      width: 100%;
      padding: 11px 10px;
      border-radius: 4px;
      font-size: 15px;
      border: 1px solid var( --figma-color-border );
      appearance: none;
      font-family: var( --primary-ui-font );
      color: var( --text-color );
      font-weight: 300;
    }

    .inputComp.invalid .inputComp-input {
      border: 1px solid var( --border-error );
      outline: 1px solid var( --border-error );
    }

  .inputComp-feedback-value {
    position: absolute;
    right: 10px; 
    top: calc( 50% - 6px );
    font-size: 12px;
    color: #A9A9A9;
  }

  .inputComp-help-text {
    font-size: 12px;
    color: var( --text-color-lighter );
    line-height: 16px;
    margin-top: 2px;
  }

.inputComp.dark .inputComp-label {
  color: var( --text-color-white );
}

