

.satellite-header {
  width: 100%;
  background-color: var( --primary );
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 18px;
  color: var( --text-color-white );
  height: var( --satellite-header-height );
  font-family: var( --primary-ui-font );
  font-weight: 300;
}

  .satellite-header .prefix {
    font-size: 16px;
    text-transform: uppercase;
  }

  .satellite-header .groupSummary {
    flex: 1;
    padding-left: 14px;
    margin-left: 14px;
    border-left: 1px solid rgba(255,255,255, 0.25);
    position: relative;
    height: 21px;
  }

    .satellite-header .groupSummary .name {
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      align-items: center;
      text-overflow: ellipsis;
      position: absolute;
      left: 14px; right: 10px;
      top: 0; bottom: 0;
    }

    .satellite-header .groupSummary .type {
      font-size: 11px;
    }