
.color-step-row {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var( --white );
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
}

.drag-and-drop-house:not(:last-child) .color-step-row {
  border-bottom: 1px solid var( --grey-lightest );
}

.color-step-row.moving-row {
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

  /* DRAGGER */
  .color-step-row-dragger {
    width: 24px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: width 0.3s;
    overflow: hidden;
    margin-left: 6px;
  }
  .is-deleting .color-step-row-dragger{
    width: 0px;
  }
  .color-step-row-dragger:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
  }
  .color-step-row-dragger:active {
    cursor: grabbing;
  }

  /* NAME */
  .color-step-row-name {
    border-right: 1px solid var( --grey-lightest );
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 1;
  }

  /* COLOR CHIP */
  .color-step-row-color {
    padding: 0 0 0 10px;
  }

    .color-step-row-color-chip {
      width: 20px; height: 20px;
      font-size: 12px;
      font-weight: 700;
      color: var( --text-color-error );
      display: flex; align-items: center; justify-content: center;
    }
    .color-step-row-color-chip:hover {
      cursor: pointer;
    }

  /* HEX */
  .color-step-row-hex {
    vertical-align: middle;
  }

    .color-step-row-hex-input {
      width: 90px;
    }

  /* ALPHA 
  .color-step-row-alpha {

  }*/

    .color-step-row-alpha-input {
      width: 60px;
    }

  /* ADA  */
  .color-step-row-ada {
    margin-right: 6px;
  }

  /* DELETING */
  .color-step-row-deleting {
    width: 0;
    transition: width 0.3s;
    position: relative;
    overflow: hidden;
    align-self: stretch;
  }

    .color-step-row-deleting-icon {
      width: 46px;
      transition: width 0.3s;
      overflow: hidden;
      background-color: var( --error-lightest );
      position: absolute; 
      left: 2px; top: 0; bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.25);
    }

    .color-step-row-deleting-icon:hover {
      cursor: pointer;
    }

    .is-deleting .color-step-row-deleting {
      width: 46px;
    }