

.add-new-icon {
  position: fixed;
  inset: 0px;
  background-color: rgba(0,0,0,.2);
}

  .add-new-icon-body {
    position: absolute;
    inset: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: var( --modal-shadow );
  }

  .add-new-icon-body.choose-type {
    display: flex;
    flex-direction: column;
    inset: auto;
    width: 70%;
    top: 100px;
    left: 15%;
    padding: 30px;
  }

  .add-new-icon-body.choose-type > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .add-new-icon-body.choose-type .header {
    font-size: 24px;
    color: var( --text-color );
    font-weight: 200;
    margin-bottom: 20px;
  }

  .add-new-icon-body .other-option {
    font-size: 12px;
    color: var( --text-color );
    font-weight: 200;
  }

  .add-new-icon-body .close {
    position: absolute;
    top: 10px; right: 10px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .add-new-icon-body .close:hover {
      cursor: pointer;
    }


    /* UPLOAD BUTTON */
  .add-new-icon input[type="file"] {
    display: none;
  }

  .add-new-icon .upload-svg{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: auto;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border-radius: 6px;
    position: relative;
    min-height: var( --button-min-height );
    border: none;
    background-color: var( --text-color-white );
    border: 1px solid var( --primary );
    color: var( --primary );
    font-size: 14px;
  }