

.effects-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.effects-detail-row {
  display: flex;
  flex-direction: row;
}

  h2 {
    font-size: 14px;
    margin-top: 0;
  }

  .effects-detail-row > * {
    flex: 1;
  }

  .effects-detail-row > *:not(:last-child) {
    margin-right: 10px;
  }

  .effects-alpha-input {
    flex: 0.3;
  }

  .effects-example-box {
    width: 100%;
    padding: 20px;
    flex: 1;
    border: 1px solid var( --border-grey );
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
  }

    .effects-example {
      width: 100px; height: 70px;
      border-radius: 4px;
      background-color: var( --white );
    }

  .effects-blur-example-box {
    width: 100%;
    padding: 40px;
    flex: 1;
    font-size: 18px;
    border: 1px solid var( --border-grey );
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
  }