

  .color-row-summary {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    width: 190px;
  }

  .color-row-summary:hover {
    background-color: var( --primary-lightest );
    cursor: pointer;
  }

    /* COLOR CHIP */
    .color-row-color-chip {
      width: 22px; height: 22px;
      margin: 0 10px;
      border-radius: 20px;
      font-size: 11px;
      color: var( --text-color-error );
      font-weight: 700;
      display: flex; align-items: center; justify-content: center;
      overflow: visible;
    }

    .color-row-summary-text {
      font-size: 11px;
      color: var( --text-color-lightest );
      flex: 1;
      margin-right: 6px;
      text-align: right;
    }

    /* ADA  */
    .color-row-ada {
      margin-right: 10px;
    }
