

.font-awesome-modal {
  position: absolute;
  inset: 0px;
  background-color: rgba(0,0,0,.2);
}

  .font-awesome-modal-body {
    position: absolute;
    inset: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }