


.no-tokens {
  font-size: 12;
  margin: 30px auto;
  font-family: var( --primary-ui-font );
  color: var( --text-color-lightest );
  text-align: center;
  font-weight: lighter;
}

.breakpoint-row-name {
  flex: 1;
}

.breakpoint-size-cell {
  width: 80px;
  align-self: stretch;
  border-right: 1px solid var( --grey-lightest );
  display: flex;
  align-items: center;
  justify-content: start;
}

.breakpoint-direction-cell {
  width: 80px;
}

