

.typography-detail {
  flex: 1;
}

.typography-detail-row {
  display: flex;
  flex-direction: row;
}

  .typography-detail-row > * {
    flex: 1;
  }

  .typography-detail-row > *:not(:last-child) {
    margin-right: 10px;
  }

  .typography-detail-example {
    width: 100%;
    padding: 20px 0px;
    border: 1px solid var( --border-grey );
  }