

.typography-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.typography-detail-row {
  display: flex;
  flex-direction: row;
}

  .typography-detail-row > * {
    flex: 1;
  }

  .typography-detail-row > *:not(:last-child) {
    margin-right: 10px;
  }

  .typography-detail-example {
    width: 100%;
    border: 1px solid var( --border-grey );
  }

  .typography-detail-font-size {
    flex: 0.4
  }
  .typography-detail-line-height-unit,
  .typography-detail-letter-spacing-unit {
    flex: 0.5;
  }